html{
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
}



.fullContainer{
    max-width: 1200px;
    
}

.wrapper{
    margin: 0 auto;
    width: 95%;
}

header{
    background-color: #222;
}

.gridHeader{
    grid-template-areas: 
    "logo"
    "nav"
    "search"
    ;
    display: grid;
    grid-template-rows: 0.7fr 1fr 0.2fr;
    grid-template-columns: 1fr;
    background-color:#c78c06 ;
   
}
header img {
    grid-area: logo;
    width: auto;
   
}

nav{
    grid-area: nav;
    background-color:#222  ;
    width: 100%;
}

nav ul a{
    text-decoration: none;
    color: #c78c06;
    font-size: 1.2rem;
    display: inline-block;
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 5px;
}

nav ul li{
   text-align: center;
}

 nav ul li a:hover{
    color: #222;
    background-color: #c78c06;
 }

.search i {
    color: #c78c06;
    border: 3px solid #c78c06;
  
}

.search{
    grid-area: search;
    text-align: center;
    background-color: #222;
   
}
.search input{
    width: 90%;
  
   
}

/* this code above gives styles to the mobile header. Display grid was used to place the elements in one column and 3 rows. 
Box sizing border box was used to make border and padding part of the size of the content-box. The width and margin of the wrapper
is to center the content */

h1{
    font-size: 5rem;
    padding: 10% 0% 10% 0%;
    color: white;
   
   
}
.backgroundSquare{
    background-color:rgba(0, 0,0, 50%) ;
}
#home{
    background-image: url(../images/main-banner.jpg);
    background-size: cover;
    padding: 10% 0% 10% 0%;
    width: 100%;
   
}

.backgroundSquare p{
    color: white;
    padding-left: 10px;
    font-size: 1rem;
   
}

.backgroundSquare a{
    display: inline-block;
    background-color: #c78c06;
    color: #222;
    font-size: 1.3rem;
    padding: 6% 4% 6% 4%;
    margin:20px 0px 20px 0px;
  
}

/* This code above gives styles to the homer section. the rgba was used to make the transparent square over the background image.
The padding properties were used on the home section, the h1 and the a tags to achieve the look provided in the example, so
the background image is fully displayed on its height. */

#us{
    background-color:#ffe6ac ;
    margin-bottom: 10%;
}
.gridUs{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:1fr 0.2fr 0.4fr 0.4fr ;
    grid-template-areas: 
    "image"
    "title"
    "p1"
    "p2"
    ;
}
.gridUs img{
    grid-area: image;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;


}

.gridUs h2{
    grid-area: title;
}
.gridUs :nth-child(3){
    grid-area: p1;
    
}
.gridUs :nth-child(4){
    grid-area: p2;
    
}


h2{
    font-size: 2.5rem;
    color: black;
    font-weight: bold;
  
}

/*this code above gives styles to the Us section*/

#services h2{
    margin-bottom: 5%;
    
}

#services h3{
    margin-left: 2%;
}
#services p{
    margin-bottom: 3%;
    margin-left: 2%;
}
#services a{
    display: inline-block;
    background-color: #222;
    color: white;
    padding: 5%;
    margin: 2%;
}
.container-3{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5,1fr);
    grid-template-areas: 
    "digTransform"
    "marktng"
    "video"
    "web"
    "print"
    ;
}

.digitalTransformation{
    grid-area: digTransform;
    background-color: #ffe6ac;
    margin: 3% 0% 3% 0%;
}

.marketingServices{
    grid-area: marktng;
    background-color: #ffe6ac;
}
.videoProduction{
    grid-area: video;
    background-color: #ffe6ac;
    margin: 3% 0% 3% 0%;
}

.webDevelopment{
    grid-area: web;
    background-color: #ffe6ac;
    margin: 3% 0% 3% 0%;
}

.printServices{
    grid-area: print;
    background-color: #ffe6ac;
    margin: 3% 0% 3% 0%;
}

h3{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 3%;
    margin-top: 3%;
}

img{
    width: 100%;
}

/* This code above gives styles to the Service Section. */

#vision{
    background-image: url(../images/vision.jpg);
    background-size: cover;
    padding: 8% 0% 8% 0%;
}

#vision h3{
    color: white;
    font-size: 2rem;
}

#vision p{
    color: white;
}

#vision a{
    display: inline-block;
    background-color: rgba(0, 0,0, 50%);
    padding: 3%;
    color: white;
    border:1px solid #c78c06 ;
    margin-top: 3%;
}

/* This code above gives styles to the vision section*/

#team h2{
    margin-top: 3%;
    margin-bottom: 3%;
}

#team h3{
    margin-left: 3%;
}

#team h6{
    border-bottom:3px solid #c78c06;
    margin-left: 3%;
    margin-right: 3%;
}

#team p{
    margin: 3%;
    padding-bottom: 3%;
}

.conatainer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4,1fr);
    grid-template-areas: 
    "jPh"
    "jInfo"
    "bPh"
    "bInfo"
    ;
}

.jhonPhoto{
    grid-area: jPh;
}

.jhonInfo{
    grid-area: jInfo;
    background-color: #ffe6ac;
}

.bobPhoto{
    grid-area: bPh;
}

.bobInfo{
    grid-area: bInfo;
    background-color: #ffe6ac;
}

/* This code above gives styles to the team section*/

.container-2{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr 0.5fr;
    grid-template-areas: 
    "contactF"
    "hours"
    "map"
    ;
}

.contactForm{
    grid-area: contactF;
}

.schedule{
    grid-area: hours;
}

.locationMap{
    grid-area: map;
}
#contact form label{
    display: block;
    width: 100%;
}
#contact form input{
   width: 100%;
}

#contact form button{
    display: block;
    background-color: #222;
    color: #c78c06;
}

#contact form textarea{
    width: 100%;
    height: 12rem;
    resize: none;
}

table{
    width: 100%;
    border:1px solid #222;
}

th{
    background-color: #ffe6ac;
    border:1px solid #222;
    padding: 3%;
}
td{
    border:1px solid #222;
    padding: 3%;
}

#contact iframe{
    width: 100%;
    margin-bottom: 5%;
    
}

/*This code above gives style to the contact form ,table and map from contact section*/

footer{
    background-color: #222;

}

footer p{
    color: #c78c06;
    padding: 10% 0% 10% 0%;
}

/*this code above gives styles to the footer */